<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>What We do?</mat-card-title>
    <mat-card-subtitle>Connect restaurants and homless shelters</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="images/AdobeStock_662388699-1130x636-1-1024x576.jpeg" alt="Food Image">
  <mat-card-content>
    <p> we can provide food to those in need!</p>
  </mat-card-content>Everyday surplus food is thrown away. By connecting restaurants with surplus food to homless shelte
  <mat-card-actions>

    <button mat-button>Sign up now!</button>
    

  </mat-card-actions>
</mat-card>
