<header>
    <div class="container">
        <a href="#" routerLink="/"class="logo">FoodFlow!</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/aboutus-page">About Us</a></li>
                <li><a href="#" routerLink="/signup-page">Sign Up</a></li> 
                <li><a href="#" routerLink="/login-page">Log In</a></li>
                
            </ul>
        </nav>
    </div>
</header>
<div class="header-image">
    <img src="./images/image.png" alt="Header Image">
    <div class="overlay-text">FoodFlow! Help Us to Connect Restaurants to the Homeless</div>
</div>
