
<mat-toolbar  class="header"color="green">
    <img src="images/Three-part_cycle_diagram.png" alt="Logo" class="logo">
    <header>FoodFlow!</header>
    <span class="toolbar-spacer"></span>
    <button mat-button class="AboutUs">About Us</button>
    <button mat-button class="SignUp" routerLink="/sign-up-page"(click)="goToSignUp()" >Sign Up</button>
    <button mat-button class="Login">Log In</button>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button>Search</button>
      </div>
  </mat-toolbar>
  
<div class="header-image">
    <img src="images/AdobeStock_351001477_Preview.jpeg" alt="Header Image">
    <div class="overlay-text">FoodFlow! Help Us to Connect Restaurants to the Homeless</div>
   

</div>

