.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background:green;
    color:black;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  