<div class="sign-up-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-subtitle>Join us today!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Shelter Name or Store Name</mat-label>
            <input matInput type="text" placeholder="Enter your Store Name or Shelter Name" />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your email" />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password" />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm your password" />
          </mat-form-field>
          
  
          <button mat-raised-button color="primary" type="submit"(click)="goToSignUp1()"routerLink="/four-digit-code">Sign Up</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

 
  
