.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  mat-card {
    width: 400px;
    padding: 1.5em;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1.5em;
  }
  
  button {
    width: 100%;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  }
  